@import "./mat-theme.scss";
:root {
  --primary: #9caf88;
  --accent: #cccccc;
  --warn: red;
  --background: #fff;
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: #fff;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-button {
  color: white;
}

.mat-divider.mat-divider-inset {
  margin-left: 0px !important;
}
